### Java y Spring Boot ###
*.class
*.jar
*.war
*.ear
/target/
/build/
bin/

### Archivos de sistema de Windows ###
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# Eclipse
.metadata/
.classpath
.project
.settings/
*.launch

### Logs y archivos temporales ###
*.log
/logs/
temp/