/* main-layout.component.css */
.app-container {
  display: flex;
}

.main-content {
  flex-grow: 1;
  margin-left: 250px; /* Ancho del sidebar */
  transition: margin 0.3s ease;
  padding: 20px;
}

.sidebar-closed .main-content {
  margin-left: 88px; /* Ancho del sidebar colapsado */
}
