:host {
  --body-color: #e4e9f7;
  --sidebar-color: #FFF8E5; /*Fondo de sidebar*/
  --primary-color: #F7B02D;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #000000;

  --tran-03: all 0.2s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.sidebar.close {
  width: 88px;
}

/* Reutilización de estilos de texto */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text, .sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

/* Header & Logo */
.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}

.logo-box {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
  margin-right: 12px;
}

/* Botón Toggle Circular */
.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 250px; /* Ajuste para el circulo */
  max-width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

/* Search Box */
.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}

/* Links Hover & Active */
.sidebar li a {
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover, .sidebar li.active a {
  background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text,
.sidebar li.active a .icon,
.sidebar li.active a .text {
  color: var(--sidebar-color);
}

/* Main Content */
.home {
  position: absolute;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.sidebar.close ~ .home {
  left: 88px;
  width: calc(100% - 88px);
}

 /* custom */
.div_color {
  display: flex;
  flex-direction: column;
  background-color: #F7B02D;
}

.welcome {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
}

.username {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
}

